/*
  Le projet All in One est un produit Xelyos mis à disposition gratuitement
  pour tous les serveurs de jeux Role Play. En échange nous vous demandons de
  ne pas supprimer le ou les auteurs du projet.
  Created by : Xelyos - Aros
  Edited by :
*/

/* Global */
.contenu div label
{
  margin-top: 2%;
}

.grille_dispo
{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5,1fr);
  vertical-align: middle;
  margin: 0 auto;;
  text-align: center;
}

.grille_dispo input
{
  margin: auto;
}

.contenu div p
{
  margin-left: 4%;
  margin-bottom: 2%;
  color: #103469;
  font-size: 1.2em;
}

.contenu div p strong
{
  font-weight: bold;
  margin-right: 2%;
  font-size: 1.2em;
}
