/*
  Le projet All in One est un produit Xelyos mis à disposition gratuitement
  pour tous les serveurs de jeux Role Play. En échange nous vous demandons de
  ne pas supprimer le ou les auteurs du projet.
  Created by : Xelyos - Aros
  Edited by :
*/

/* PC */
.contenu
{
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

.contenu h1
{
  padding-left: 2%;
}

.contenu p
{
  padding: 0 4% 2% 4%;
  text-align: justify;
  font-size: 1.5em;
}

.contenu a
{
  padding: 0% 2% 2% 2%;
  text-align: center;
  font-size: 1.25em;
  color: #000;
}

.contenu a:hover
{
  color: var(--Text);
  text-decoration: underline;
}
