/*
  Le projet All in One est un produit Xelyos mis à disposition gratuitement
  pour tous les serveurs de jeux Role Play. En échange nous vous demandons de
  ne pas supprimer le ou les auteurs du projet.
  Created by : Xelyos - Aros
  Edited by :
*/

/* PC */
.red {
  color: var(--nonHabilite);
}

.orange {
  color: var(--inFormation);
}

.green {
  color: var(--Habilite);
}

.info_personne {
  float: left;
  display: block;
  margin-left: 10%;
  width: 25%;
  border-radius: 10px;
  background-color: var(--background);
  text-align: center;
  padding-bottom: 2%;
}

.info_personne img {
  width: 40%;
  height: auto;
}

.info_personne .description {
  text-align: center;
  color: var(--profilDescription);
  font-style: italic;
  margin-left: 1%;
  margin-right: 1%;
}

.info_personne h1 {
  margin-bottom: 1%;
  color: var(--Text);
  border-bottom: 2px solid var(--Text);
}

.info_personne p strong {
  text-align: left;
  color: var(--Text);
  margin-right: 3%;
}

.info_personne p {
  text-align: left;
  margin-left: 3%;
  font-weight: bold;
  font-size: 1.2em;
}

.info_personne .lien {
  margin-top: 5%;
}

.info_personne .lien a, .btn_modif button, .information_casier .lien a {
  border: none;
  border-radius: 10px;
  background-color: var(--Bouton);
  color: var(--BoutonText);
  padding: 1%;
  font-size: 1.25em;
}

.info_personne .lien a:hover, .btn_modif button:hover, .information_casier .lien a:hover {
  color: var(--BoutonTextHover);
}

.btn_modif, .information_casier .lien {
  margin-top: 2%;
  margin-left: 2%;
}

.habilitation {
  display: block;
  margin-left: 37%;
  width: 58%;
  border-radius: 10px;
  background-color: var(--background);
  text-align: center;
  padding-bottom: 2%;
}

.habilitation h1 {
  padding-top: 2%;
  padding-bottom: 1%;
  color: var(--Text);
  border-bottom: 2px solid var(--Text);
}

.habilitation p {
  font-weight: bold;
  font-size: 1.1em;
}

.habilitation select {
  margin: 0 auto;
  font-weight: bold;
  font-size: 1.2em;
  width: 80%;
  margin-bottom: 2%;
}

.habilitation .grille {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.liste {
  display: block;
  margin-top: 2.5%;
  margin-left: 37%;
  width: 58%;
  border-radius: 10px;
  background-color: var(--background);
  padding-bottom: 0.5%;
}

.liste h1 {
  padding-top: 2%;
  color: var(--Text);
  border-bottom: 2px solid var(--Text);
  text-align: center;
}

.liste p strong {
  text-align: left;
  color: var(--Text);
  font-size: 1.25em;
  margin-right: 3%;
}

.liste p {
  text-align: left;
  margin-left: 3%;
  font-weight: bold;
  font-size: 1.2em;
}

.liste .ferm {
  margin-left: 90%;
  font-weight: bold;
  font-size: 1.2em;
  background: var(--Bouton);
  color: var(--BoutonText);
  padding: 1%
}

.liste .ferm:hover {
  color: var(--BoutonTextHover);
}

.liste .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2%;
  border-bottom: 0.5px solid var(--Text);
}

.liste .content img {
  width: 30%;
  height: auto;
  margin-left: 20%;
  margin-bottom: 5%;
}

.liste .content p {
  white-space: nowrap;
  text-align: center;
  height: auto;
  margin-left: 10%;
  vertical-align: baseline;
}

.liste .content a {
  height: auto;
  margin-top: 5%;
  text-align: right;
  margin-right: 30%;
  text-decoration: none;
  color: var(--Text);
  font-weight: bold;
  font-size: 1.5em;
}

.liste .content a:hover {
  color: var(--BoutonTextHover);
}

.information_casier {
  display: block;
  margin-top: 2.5%;
  margin-left: 37%;
  width: 58%;
  border-radius: 10px;
  background-color: var(--background);
  padding-bottom: 2%;
  position: relative;
}

.information_casier h1 {
  padding-top: 2%;
  color: var(--Text);
  border-bottom: 2px solid var(--Text);
  text-align: center;
}

.information_casier p strong {
  text-align: left;
  color: var(--Text);
  font-size: 1.25em;
  margin-right: 1%;
}

.information_casier p {
  text-align: left;
  margin-left: 2%;
  font-weight: bold;
  font-size: 1.2em;
}

.information_casier .remarque {
  text-align: justify;
  padding-left: 1%;
  padding-right: 3%;
  font-weight: bold;
  font-size: 1.2em;
}

.information_casier img {
  margin-left: 42.5%;
  width: 15%;
  height: auto;
}

span {
  background-color: #000; /* Est utilisé pour le biffage des messages */
}

/* Suppression d'une arme */
.delete-arme {
  position: absolute;
  top: 6px;
  right: 35px;
  cursor: pointer;
}

.delete-arme img {
  width: 40px;
  height: auto;
}
