{#
  Le projet All in One est un produit Xelyos mis à disposition gratuitement
  pour tous les serveurs de jeux Role Play. En échange nous vous demandons de
  ne pas supprimer le ou les auteurs du projet.
  Created by : Xelyos - Aros
  Edited by :
#}
{# Modification du mot de passe #}
{% extends "_base.twig" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/assets/styles/global/form.css">
{% endblock %}

{% block description %}Modification mot de passe{% endblock %}

{% block key %}Modification mot de passe{% endblock %}

{% block title %}Modification mot de passe{% endblock %}

{% block main %}
<section class="contenu">
  <h1>Changer le mot de passe</h1>

  <form class="connexion" action="/edit/mdp" method="POST">

    <div>
      <label for="name">Ancien :</label>
      <input type="password" name="ancien_mdp" id="old_mdp" placeholder="Ancien mot de passe" oninput="VerifSaisieMDP();" required>
    </div>

    <div>
      <p id="old_mdp_false">Ancien mot de passe incorrecte</p>
    </div>

    <div>
      <label for="name">Nouveau :</label>
      <input type="password" name="new_mdp" id="new_mdp" placeholder="Nouveau mot de passe" oninput="VerifSaisieMDP();" required>
    </div>

    <div>
      <p id="new_mdp_false">Identique à l'ancien</p>
    </div>

    <div>
      <label for="name">Confirmer :</label>
      <input type="password" name="confirm_mdp" id="nex_mdp" placeholder="Confirmer le mot de passe" oninput="VerifSaisieMDP();" required>
    </div>

    <div>
      <p id="nex_mdp_false">Non identique au nouveau</p>
    </div>

    <div class="btn" id="btn_confirm">
      <button class="form_button" type="submit" name="button">Changer</button>
    </div>
  </form>

</section>
{% endblock %}

{% block script %}
<script src="/assets/script/event_saisie.js"></script>
<script type="text/javascript">
  document.getElementById("old_mdp_false").style.display = "none";
  document.getElementById("new_mdp_false").style.display = "none";
  document.getElementById("nex_mdp_false").style.display = "none";
  document.getElementById("btn_confirm").style.display = "block";
</script>
{% endblock %}
