{#
  Le projet All in One est un produit Xelyos mis à disposition gratuitement
  pour tous les serveurs de jeux Role Play. En échange nous vous demandons de
  ne pas supprimer le ou les auteurs du projet.
  Created by : Xelyos - Aros
  Edited by :
#}
{# Livret de formation Force de l'ordre #}
{% extends "_base.twig" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/assets/styles/global/formation.css">
<link rel="stylesheet" type="text/css" href="/assets/styles/global/nav.css">
{% endblock %}

{% block description %}Page Formation{% endblock %}

{% block key %}Page Formation{% endblock %}

{% block title %}Formation{% endblock %}

{% block main %}
  <nav>
    <p>Navigation :</p>
    <a href="#1">Introduction</a>
    <a href="#2">Equipement</a>
    <a href="#3">Organisation</a>
    <a href="#4">Patrouille</a>
    <a href="#5">Contrôle</a>
    <a href="#6">Balisage</a>
    <a href="#7">Arrestation</a>
    <a href="#8">Fuite</a>
    <a href="#9">Quariers</a>
    <a href="#10">Braquages</a>
    <a href="#11">Poursuite</a>
    <a href="#12">Les avocats</a>
    <a href="#13">Négociation</a>
    <a href="">Revenir en haut</a>
  </nav>

  <section class="contenu">
    <h1>Livret de Formation</h1>

    <h2 id="1">Chapitre 1 - Introduction</h2>
    <h3>I - Introduction au livret</h3>
    <p>Ce livret est votre livret de formations. Il reprend les différentes
       parties du travail d’officier de police à la Los Santos Police
       Departement. Certes, ce livret est complet mais il ne pourra jamais
       remplacer les conseils de vos formateurs, écoutez les bien.
    </p>

    <h3>II - Le métier d’Officier de police</h3>
    <p>Le LSPD fait respecter les lois et règlements de la ville de Los
       Santos. Il interpelle les auteurs d’infractions mais doivent
       également au quotidien venir en aide à la population tant pour les
       petits problèmes de la vie quotidienne que pour les citoyens en danger
       de mort réel. Le policier a énormément de pouvoir, il ne faut pas en
       abuser.
    </p>

    <h3>III - Attitude de l'Officier de police</h3>
    <p>L'officier de police se doit d'être toujours respectueux d'autrui
       même si cela n'est pas réciproque. Celui-ci doit chercher à apaiser
       les tensions dans ses interventions et ne doit pas rechercher
       l'action. Il doit respecter les ordres de ses supérieurs et se voir
       toujours intéressé par aller plus loin dans la découverte de son
       métier.
    </p>
  </section>

  <section class="contenu">
    <h2 id="2">Chapitre 2 : Équipement</h2>

    <img src="/assets/img/formation/equipement.png" alt="Equipement">

    <h3>I - La radio</h3>
    <p>La radio est faite en deux parties : la partie principale est
       accrochée à la ceinture, c’est le relais directement raccordé au
       dispatching et à la radio du coéquipier. La seconde partie est
       accrochée à l’épaule, elle permet simplement d’accéder plus vite à
       celle-ci. La radio est l’outil le plus important de l’agent de police !
       Dans un danger réel, il est plus important de demander des renforts à
       l’aide de sa radio que de sortir son arme de holster. Concernant
       l’utilisation, rien de plus simple, il suffit d’appuyer sur le bouton
       à droite de celle-ci.
    </p>

    <h3>II - Le badge</h3>
    <p>Le badge se trouve sur le torse de l'agent. Celui-ci est la preuve de
       l'autorité exercée par celui-ci mais n'est pas nominatif. Seul le
       matricule et le grade de l'agent y sont apposés.
    </p>

    <h3>III - La gazeuse</h3>
    <p>La gazeuse utilisée par le LSPD est une arme composé d'un gaz
       provoquant l'irritation ou un écoulement lacrymal. Celle-ci est
       accrochée à la ceinture de l'agent. L'utilisation de cette arme n'est
       pas à utilisé dans n'importe quelle situation.
    </p>

    <h3>IV - La paire de menottes</h3>
    <p>Les menottes sont accrochées à l'arrière de la ceinture de l'agent.
       Elles permettent d'immobiliser un suspect et de procéder à son
       interpellation en sécurité.
    </p>

    <h3>V - Le pistolet à impulsion électrique</h3>
    <p>Le pistolet à impulsion électrique (ou Tazer) est un pistolet avec des
       harpons qui, une fois enfoncés à l'intérieur du corps d'un suspect,
       lui prodiguent une décharge de 30 000 Volts. Cet outil est extrêmement
       dangereux et ne doit pas être utilisé à tout va.
    </p>

    <h3>VI - Les gants</h3>
    <p>Les gants se trouvent à la ceinture de l'agent, ils sont en cuir et
       l'agent garde toute sa maniabilité lorsqu'il les a enfilés.
    </p>

    <h3>VII - La matraque</h3>
    <p>La matraque est accrochée à la ceinture de l'agent, elle peut être de
       deux modèles différents: Tonfa ou matraque télescopique. Elle est
       utilisée en général pour le maintien de l'ordre.
    </p>

    <h3>VIII- L’arme de service</h3>
    <p>L'arme de service de l'agent du LSPD se trouve dans son holster soit
       du coté droit, soit du coté gauche de la ceinture. Cette arme
       peut-être de différents modèles au choix de l'agent durant sa
       formation.
    </p>

    <h3>IX - Le gilet pare-balle</h3>
    <p>Les agents de police portent tous un gilet pare-balle de type III, et
       peuvent, s'ils le souhaitent porter par-dessus, un gilet pare-balle
       lourd. Ce gilet est imperméable à toutes les balles de petits
       calibres et aux armes blanches.
    </p>

    <h3>X - La lampe torche</h3>
    <p>La Maglite est la lampe-torche par excellence de la police américaine.
       Celle-ci est lourde (Environ 1kg) mais a en contre-parti une grande
       portée et peut-être utilisée comme matraque en cas d'extrême urgence.
    </p>
  </section>

  <section class="contenu">
    <h2 id="3">Chapitre 3 : La vie et l'organisation au LSPD</h2>

    <h3>I - Organisation générale</h3>
    <p>La LSPD est le service des forces de l'ordre présent à Los Santos.
       Plusieurs brigades et habilitations sont présentes et permettent une
       utilisation matériel différente.
    </p>

    <h3>II - Patrouilles</h3>
    <p>Lors d'une patrouille, les agents sont la plupart du temps à deux dans
       un véhicule. Cependant, si le nombre de policiers en service ne le
       permet pas, un patrouille de 3 policiers peut être mise en place.
    </p>

    <h3>III - Véhicules</h3>
    <p>Les véhicules se doivent d'être toujours rendus dans un bon état et
       avec le niveau d'essence supérieur à la moitié. Ceux-ci doivent être à
       la fin de patrouille rangées à leur bonne place et avoir leur matériel
       en état. Attention, ce n'est pas parceque les véhicules de service sont
       gratuits que vous pouvez en ajouter en grand nombre dans votre garage
       LSPD.
    </p>
  </section>

  <section class="contenu">
    <h2 id="4">Chapitre 4 : La voiture de patrouille</h2>

    <h3>I - Modèle</h3>
    <p>Le véhicule de patrouille de police varie en fonction des grades.
       Cependant il est demandé de faire attention aux modèle que l'ont sort.
       On ne sort pas de véhicule blindé, juste pour une patrouille en ville.
    </p>

    <h3>II - Matériel embarqué dans le véhicule de police</h3>
    <p>En plus des fonctionnalités de base dans le véhicule, les agents
       embarquent en début de patrouille différents équipements ou possèdent
       différents équipements directement dans le véhicule. Un ordinateur
       de bord qui permet de vérifier : Le fichier des identités, le fichier
       des immatriculations, le fichier des permis, les patrouilles en cours
       sur Los Santos et leurs positions et leurs statuts.
    </p>
  </section>

  <section class="contenu">
    <h2 id="5">Chapitre 5 : Le contrôle de routine</h2>

    <p>Lorsqu'un véhicule a commis une infraction, semble suspect ou a été choisi pour un contrôle, différentes étapes doivent être suivies :</p>

    <h3>Etape 1 :</h3>
    <p>Le conducteur se place derrière le véhicule à contrôler. Le passager
       se doit de prendre avant tout la plaque du véhicule concerné. Les
       sirènes et gyrophares du véhicule sont alors activés afin de prévenir
       l'interpellé de leur présence.
    </p>

    <h3>Etape 2 :</h3>
    <p>Une fois le véhicule de l'interpellé sur le bas coté, les agents se
       doivent de vérifier que son moteur soit bien coupé. Les personnes
       doivent impérativement rester dans leur véhicule
    </p>

    <h3>Etape 3 :</h3>
    <p>Lorsque les conditions sont rassemblées, le conducteur (de préférence
       pour cette situation) annonce à la radio le contrôle et le passager
       sort pour le débuter. Le conducteur par après doit rester dans son
       véhicule ou juste à coté.
    </p>

    <h3>Etape 4 :</h3>
    <p>Le passager se présente [Grade / Nom] et entame le contrôle
       par une vérification d'identité, de permis et de carte crise.
    </p>

    <h3>Etape 5 :</h3>
    <p>Le passager donne alors les éléments au conducteur pour vérification
       du véhicule .
    </p>

    <h3>Etape 6 :</h3>
    <p>Il explique alors le délit, s'il y en a un. Si il le souhaite, il le
       verbalise  et effectue un "retrait de permis" via l'ordinateur de bord.
       Privilégiez pour autant l'avertissement oral.
    </p>

    <h3>Etape 7 :</h3>
    <p>Le passager rend alors les papiers à l'homme, le salue de manière
       respectueuse et annonce au Central son retour en patrouille.
    </p>
  </section>

  <section class="contenu">
    <h2 id="6">Chapitre 6 : Le balisage</h2>

    <h3>I - Accident</h3>
    <img src="/assets/img/formation/accident.png" alt="Accident">
    <p>Il faut ici retenir le placement de la voiture de patrouille afin de
       "retenir" les véhicules distraits passant tout de même le balisage. De
       plus, nous avons ici un cas de circulation alternée sur une seule voie,
       il est donc préférable qu'un agent fasse la circulation.
    </p>

    <h3>II - Feu de véhicule</h3>
    <img src="/assets/img/formation/incendie.png" alt="Accident">
    <p>Ce type de balisage peut être mis en place si un accident est sur les
       deux voies de circulation, ou qu'un événement ce passe sur les deux
       voies de circulation.
    </p>

    <h3>III - Braquage</h3>
    <img src="/assets/img/formation/braquage.png" alt="Incendie">
    <p>Deux voitures de patrouilles se placent durant le braquage devant le
       bâtiment afin de couvrir les agents. D'autres voitures de patrouilles
       restent à l'extérieur prêtent à démarrer directement. Si possibles,
       des véhicule rapide seront placées à l'extérieur.
    </p>
  </section>

  <section class="contenu">
    <h2 id="7">Chapitre 7 : Arrestation</h2>

    <h3>Etape 1 :</h3>
    <p>L'agent 1 et l'agent 2 doivent sortir leurs armes de leur holster
       afin de sécuriser la zone. L'agent 2 doit alors mettre les mains du
       suspect en évidence (Soit sur la tête , soit en l'air , soit au sol
       avec les bras écartés ).
    </p>

    <h3>Etape 2 :</h3>
    <p>Lorsque les mains du suspect sont bien en évidence, l'agent 1 range
       son arme dans son holster et s'approche du suspect afin de le
       menotter. Lors de l'approche du suspect, l'agent 1 doit toujours
       laisser à l'agent 2 son angle de tir !!
    </p>

    <h3>Etape 3 :</h3>
    <p>Les agents doivent palper sommairement le suspect afin de vérifier
       qu'il n'ait pas d'armes sur lui.
    </p>

    <h3>Etape 4 :</h3>
    <p>Le suspect est alors embarqué à l'arrière de la voiture de patrouile,
       derrière le siège passager.
    </p>

    <h3>Etape 5 :</h3>
    <p>Les agents rentrent alors au poste de police.
    </p>

    <h3>Etape 6 :</h3>
    <p>Les agents fouillent alors méticuleusement le suspect et recherchent
       ses papiers.
    </p>

    <h3>Etape 7 :</h3>
    <p>L'agent 2 s'occupe alors de remplir le rapport d'intervention /
       casier judicaire
    </p>

    <h3>Etape 8 :</h3>
    <p>Si la personne est en état d'arrestation :</p>
    <p>Madame, Monsieur</p>
    <p>Vous êtes en état d'arrestation pour les faits suivants... ("énoncer les délits")</p>
    <p>Enoncer la loi miranda</p>
  </section>

  <section class="contenu">
    <h2 id="8">Chapitre 8 : Le Refus d'obtempérer</h2>

    <h3>I - Course poursuite</h3>
    <img src="/assets/img/formation/course_poursuite.png" alt="Course poursuite">
    <p>Lors d'une poursuite, la voiture de patrouille ayant entamé celui-ci
       se doit de rester en tête sauf en cas d'abandon de poursuite ou de
       manoeuvre d'interception particulière. Après avoir founi la plaque au
       central, la voiture de patrouille 1 se doit d'actualiser sa balise
       régulièrement, de donner des renseignements de direction. La seconde
       voiture de patrouille doit suivre la voiture de patrouille 1 en
       restant légèrement décalée sur la gauche pour pouvoir prendre la tête
       en cas d'abandon de la voiture de patrouille 1.
    </p>

    <h3>II - Le triangle</h3>
    <img src="/assets/img/formation/triangle.png" alt="Triangle">
    <p>Une voiture de patrouille passe devant le véhicule en délit de fuite
       et continue à avancer de  manière régulière. Pendant ce temps, une
       autre voiture de patrouille se place dernière le véhicule en délit de
       fuite. Si cela est possible, le dernier véhicule se place sur la
       gauche du véhicule en délit de fuite. Concernant l'arrêt, les voitures
       de patrouilles se doivent de coller le véhicule de très près. Les
       voitures de patrouilles doivent après réduire leur vitesse petit à
       petit afin d'obliger le véhicule à s'arrêter et de pouvoir procéder
       à l'interpellation.
    </p>
  </section>

  <section class="contenu">
    <h2 id="9">Chapitre 9 : Comportement en quartiers sensibles</h2>

    <p>Lors d'un contrôle de routine, ou tout autre action dans un quartier
       sensible, vous devez demander une, ou deux unités en renfort sur vous.
       Ne restez jamais seul dans un quartiers sensibles, votre vie est en
       jeux.
    </p>
  </section>

  <section class="contenu">
    <h2 id="10">Chapitre 10 : Le braquage</h2>

    <p>En braquage, chaque grade a son propre rôle:</p>
    <p>Les Cadets ont interdiction de se rendre sur la Zone. Des Agents
       évacuent la zone et notent la plaque des véhicules présents dans le
       secteur. Une fois cela fait, ils se rendent derrière leurs véhicules
       en couverture. Les autres agents attendent les ordres des supérieurs.
    </p>

    <p>En cas de braquage, c'est le négociateur qui décide de tout ce qui se
       passe.
    </p>
  </section>

  <section class="contenu">
    <h2 id="11">Chapitre 11 : Poursuite à pied</h2>

    <p>Lors d'une poursuite à pied, il faut toujours prendre des précautions
       et considérer le suspect en fuite comme dangereux. Dès lors, il vous
       faut appeler des renforts. Par sécurité, vous pouvez sortir votre
       arme mais en aucun cas tirer.
    </p>

    <p>Lorsque vous êtes deux dans une voiture de patrouille et dans la
       mesure du possible, l'un des agents poursuit le suspect à pied et le
       conducteur reste dans la voiture de patrouille pour continuer la
       poursuite en véhicule et communiquer à la radio la position, la
       direction, les changements de situation. Cependant, le conducteur ne
       doit jamais perdre son coéquipier de vue.
    </p>

    <p>Afin de neutraliser le suspect, l'agent peut faire usage d'un pistolet
       tazer ou technique afin de plaquer le suspect dans le cas où celui-ci
       n'est pas armé. Lors d'un taze, les médecins doivent être appelés en
       soutien afin d'examiner la personne et de retirer les électrodes.
    </p>
  </section>

  <section class="contenu">
    <h2 id="12">Chapitre 12 : Les avocats</h2>

    <p>Avant de mettre quelqu'un en cellule, vous devez le placer en salle
       d'interrogatoire. Si la personne le souhaite, elle peut demander à être
       représenté par un avocat. Pour qu'un avocat puisse exercer sur l'île,
       il doit être enregistré dans nos fichiers avec comme métier "Avocat".
    </p>

    <h3>Etape 1 : Identification</h3>
    <p>L'avocat doit se présenter à l'accueil du LSPD. Vérifier son identité
       par la vérification de la carte d'identité mais également à la photo
       présente dans nos fichiers. Son métier doit être défini sur Avocat.
    </p>

    <h3>Etape 2 : contrôle</h3>
    <p>Une fois que son identité est vérifiée, vous devez fouiller la personne
       afin de vous assurer qu'elle ne possède aucun objet pouvant devenir
       dangereux pour vous ou lui-même (aucune arme n'est admise en salle
       d'interrogatoire, il en est de même pour la drogue, etc...).
    </p>

    <h3>Etape 4 : Entrevue</h3>
    <p>L'entrevue entre son avocat et son client est confidentielle. Cependant,
       vous pouvez regarder ce qui se passe dans la salle grâce au miroir
       à double teint (Attention, couper les micros mais pas les caméras).
    </p>

    <h3>Etape 5 : Requête</h3>
    <p>Si l'avocat a une requête suite aux délits, sanctions, etc... Il est
       préférable de laisser un enseignant s'entretenir avec lui. Si aucun
       enseignant n'est disponible c'est le plus haut gradé qui doit
       s'entretenir avec l'avocat.
    </p>
    <p>En cas de désaccord entre les 2 parties, le dossier doit être jugé
       par un procureur ou un juge.
    </p>
  </section>

  <section class="contenu">
    <h2 id="13">Chapitre 13 : La Négociation</h2>

    <p>La négociation est la recherche d'un accord, centrée sur des intérêts
       matériels ou des enjeux quantifiables entre deux ou plusieurs
       interlocuteurs (on ne négocie pas avec soi-même, on délibère), dans
       un temps limité. Cette recherche d'accord implique la confrontation
       d'intérêts incompatibles sur divers points (de négociation) que chaque
       interlocuteur va tenter de rendre compatibles par un jeu de concessions
       mutuelles. Ce chapitre va vous présenter quelques règles de négociations
       pouvant se montrer utile (elles ne sont pas obligatoires).
    </p>

    <h3>I - Négociez uniquement si vous avez quelque chose à échanger</h3>
    <p>Qui dit négociation dit échange. Il faut que les deux parties puissent
       procéder à un échange de concessions et de contreparties. Chacun doit
       avoir quelque chose à donner à l’autre.
    </p>

    <h3>II - Adoptez la stratégie « win-win »</h3>
    <p>Il s’agit d’une stratégie « gagnant-gagnant » qui consiste à défendre
      ses intérêts en intégrant dans la négociation ceux de l’autre. Préparez
      cette intervention à l’avance en vous interrogeant sur les intérêts de
      la partie adverse et en essayant (afin de préserver les vôtres) de
      répondre à ses attentes. Utilisez un vocabulaire qui véhicule ce
      message : « Je vous écoute… », « Votre position n’est pas si éloignée
      de la mienne… », « Je prends en compte votre intérêt à… », « Nous
      avons l’un et l’autre intérêt à … », « soyons partenaires… » etc…
    </p>

    <h3>III - Argumentez sereinement</h3>
    <p>Il est toujours plus prudent d’anticiper les objections. Si le ton
       monte durant l’argumentaire et les objections, gardez votre sang-froid.
       Restez serein et ne vous énervez pas. Écoutez bien les objections de
       votre interlocuteur, notez-les et répondez-y, mais pas tout de suite.
       Attendez un moment qui vous est plus favorable dans la conversation.
       Vos arguments seront alors réellement entendus, pesés et réfléchis et
       votre interlocuteur ne pourra que faire état de vos observations, de
       votre rationalité et surtout de votre calme !
    </p>

    <h3>IV - Ne « tuer » pas votre adversaire</h3>
    <p>Comprenez « dominer » ou « écraser » son interlocuteur risque de
       provoquer l’inverse de l’effet escompté. En exerçant une trop grande
       pression sur votre interlocuteur, celui-ci risque de se sentir agressé
       et d’utiliser sa position pour surenchérir et ne pas céder (voire même,
       exécuter les otages). Dans ce cas, la « partie » ne peut plus se jouer
       et il n’y a plus de négociation.
    </p>

    <h3>V - Regardez toujours l’interlocuteur dans les yeux (uniquement valable en face à face)</h3>
    <p>Tout comme au poker, contrôlez votre gestuelle. Pour inspirer
       confiance, mieux vaux regarder votre interlocuteur dans les yeux.
       Évitez de trop croiser les bras ou de froncer les sourcils, vous
       donnerez une image fermée, non ouverte au dialogue et à la
       négociation. Et n’oubliez pas : sourire n’est pas incompatible avec
       une certaine fermeté.
    </p>

    <h3>VI - Soyez empathique et sympathique… mais pas trop</h3>
    <p>Il faut toujours se mettre à la place de son interlocuteur pour
       comprendre ses besoins, ses objectifs, mais aussi sa stratégie.
       L’empathie montre que vous avez bien compris votre interlocuteur. Oui
       mais, ne vous mettez pas trop à la place de l’autre au risque de perdre
       la vôtre et ne perdez pas de vue vos intérêts. Soyez sympathique, cela
       fait partie de la stratégie de séduction, flattez un peu, mais pas
       trop car il ne s’agit pas de duper l’autre, ni d’être dupé par lui.
       Méfiez-vous d’un interlocuteur trop sympathique.
    </p>

    <h3>VII - Utilisez l’humour pas l’ironie</h3>
    <p>C’est bien connu, l’humour détend, l’ironie tend. Mieux vaut détendre
       l’atmosphère par un humour franc et libérateur (un mot d’esprit, une
       blague, une anecdote) plutôt qu’une moquerie à l’égard de l’interlocuteur.
       L’ironie est une moquerie et il y a toujours de l’agressivité  dans
       l’ironie qui fait partie d’une rhétorique de conflit et de déstabilisation.
    </p>

    <h3>VIII - Tout se joue dans les dernières minutes</h3>
    <p>On a souvent tendance à relâcher l’effort en fin de course, or, c’est
       à ce moment qu’il faut être concentré et reprendre point par point
       les termes de l’accord pour vérifier que l’on s’est bien compris.
       Cela permet notamment de ne pas oublier d’aborder des aspects
       importants pour la négociation.
    </p>

    <h3>IX - Soignez votre conclusion</h3>
    <p>Après avoir repris point par point l’accord, n’oubliez pas de
       conclure la décision prise, l’accord négocié et que ces décisions
       vont devenir des actions dans tel ou tel délais.
    </p>
  </section>
{% endblock %}

{% block script %}{% endblock %}
